@media screen and (max-width: 1000px) {
    
    .feedback-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .feedback ul li{
        font-size: 15px;
    }

    .feedback ul li span{
        font-size: 18px;
    }

    .footer-item ul{
        font-size: 12px;
        line-height: 120%;
    }

    .footer {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 900px) {
    .info-item p{
        font-size: 12px;
    }

    .slide-content{
        font-size: 12px;
    }

    .sliders-item-title{
        font-size: 20px;
    }

    .sliders-item-text {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 100%;
    }
    .contacts-info ul li {
        font-size: 15px;
        line-height: 100%;
    }

    .feedback-btns {
        display: flex;
        flex-direction: row;
    }
    .feedback-btn,.feedback-second-btn {
        max-width: 150px;
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {

    .cross-section p {
        font-size: 25px;
    }

    .footer-logo-title{
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {
    .feedback-btn,.feedback-second-btn {
        max-width: 120px;
        font-size: 12px;
    }

    .foto{
        display: none;
    }

    .presentation {
        width: 95%;
        justify-content: center;
    }

    .selection-items {
        grid-template-rows: 150px 150px;
        grid-template-columns: auto auto auto;
    }

    .contacts { 
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
        margin-top: 10px;
        background: rgb(32 155 167 / 72%);
    }

    .contacts-map{
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts ul li {
        line-height: 120%;
        color: white;
    }

    .presentation-info {
        font-size: 20px;
    }

    .header__title p:last-of-type{
        font-size: 10px;
    }
}

@media screen and (max-width: 750px) {
    .contacts-map, .feedback {
        padding: 0;
    }

}

@media screen and (max-width: 700px) {
    .presentation-info {
        font-size: 20px;
    }

    .prodgects {
        display: none;
    }
    
    .contacts-map{
        flex-direction: column;
        align-items: center;
    }

    .feedback-btns{
        margin-top: 0;
        justify-content: center
    }

    .seo-text {
        max-width: 95%;
        margin: 40px auto;
    }    
    
    .footer{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .footer-contacts {
        margin-top: 10px;
        align-items: flex-start;
    }

    .main {
        padding-bottom: 0;
    }

    .footer-item-logo {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 650px) {
    .selection-items {
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 250px 250px;
    }

}








